

<footer class="border-top" style="cursor: pointer;" >

  <div class="f-info" style="background-color: black;">
    <div class="f-info-socials" >
      <i class="fa-brands fa-facebook" style="color: #FFD700; padding-right: 0.5rem;"></i>
      <i class="fa-brands fa-instagram" style="color: #FFD700; padding-right: 0.5rem;"></i>
      <i class="fa-brands fa-twitter" style="color: #FFD700; padding-right: 0.5rem;"></i>
      <i class="fa-brands fa-snapchat" style="color: #FFD700; padding-right: 0.5rem;"></i>


    </div>
   
    
    <div style="color: white">&copy; <b style="color: white;"> Tech Titans</b> &nbsp;&nbsp;Private Limited.</div>
    <div class="f-info-links">

      <a href="">Privacy</a>
      <a href="">Terms</a>
      <br/>
      <a href="/about">Company Details</a>
    </div>
  </div>
</footer>
