<% layout("/layouts/boilerplate") %>

<style>
    h2{
        color: wheat;
          font-size: 1.5rem;    ;
    }
    h3{
        color: white;
      
    }
</style>

<br/>
<h3 style="margin-left: 35rem;">Augmented Reality Virtual Trial Room<h3>
    <br/><br/><br/>
<h2>

    We are a team of passionate developers participating in our first 24-hour hackathon,  building an AI-powered Augmented Reality Virtual Trial Room. Our project allows users to try on clothes and accessories virtually, helping them find the right fit with AI-driven size recommendations. By making online shopping more interactive and accurate, we aim to boost confidence in purchases and reduce returns.

</h2>