<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    margin-left: 5em;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    color: #FFD700;
    text-align: center;
    
    margin: 2rem 4rem 0 0;
  }
 
  .switch{
    margin-left: 10 rem;
  }

  .filter.active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }
  .filter:hover {
    font-size: 1.05rem;
    cursor: pointer;
    
  }
  .icons {
    font-size: 1.5rem;
  }
  .info {
    display: none;
  }
  .switch {
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem 1rem 3rem 1rem;;
  }
</style>

<body>
  <div style="background-color: black;">
    <div id="home_page" >
    <div id="filters">
      <a href="/listings/?category=men">
        <div class="filter">
          <img alt="Man" src="/assets/man.jpg"  style="height: 3rem; width: 3rem; border-radius: 50%;"/>
          <p>Men</p>
        </div>
      </a>
      <a href="/listings/?category=woman">
        <div class="filter">
          <div class="icons" ><img alt="Woman"  src="/assets/woman.jpg" style="height: 3rem; width: 3rem; border-radius: 50%;"/></div>
          <p>Women</p>
        </div>
      </a>
      <a href="/listings/?category=kid">
        <div class="filter">
         <img alt="Kids" src="/assets/kid.jpg"  style="height: 3rem; width: 3rem; border-radius: 50%;"/>
          <p>Kids</p>
        </div>
      </a>
      <div class="switch mt-4 ms-5" style="background-color: black;">
        <div class="form-check form-switch form-check-reverse">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" style="color: #FFD700;  font-size: medium;" for="flexSwitchCheckDefault"
            ><i class="fa-solid fa-sun" style="color: #FFD700;"></i>&nbsp;&nbsp;&nbsp;Light Mode</label
          >
        </div>
      </div>
  </div>
    </div>
    
    
  </div>
  <br/><br/>

  <% if(category==="men") {%>
     <div class="card" style="width: 18rem; border: 1px solid black; "!important>
  <img src="/assets/lens1.png" class="card-img-top" alt="..." style="height: 25.5rem;">
  <div class="card-body">
    <a href="https://lens.snap.com/experience/0d9ad177-d7bb-4b2a-804b-2680e75247e1" class="btn btn-success" style="width: 100%;">Try this lens</a>
  </div>
</div>
    <% } else { %>
  <h1>More filters are yet to come...</h1>
      <% } %>

 
      
</body>

<script>
  let Switch = document.getElementById("flexSwitchCheckDefault");
  Switch.addEventListener("click", () => {
    // console.log("Button clicked");
    let Info = document.getElementsByClassName("tax-info");
   if (document.body.style.backgroundColor !== "ghostwhite") {
      document.body.style.backgroundColor = "ghostwhite"; 
      document.body.style.color = "black"; 
      snapCamera.style.backgroundColor = "black";
      
    } else {
      document.body.style.backgroundColor = "black"; 
      document.body.style.color = "white"; 
      snapCamera.style.backgroundColor = "white";
    }
  });

   

</script>
